img {
    max-width: 8rem;
    height: auto;
}

.persona {
    display: flex;
    justify-content: center;
    div {
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }
}